/* import your colors... */
@value colors: '../../globals/colors.css';
@value fontColor from colors;

.styleGuide {
    background: #F4F4F4;
}

.content {
    width: 1100px;
    margin: 0 auto;
}

.section {
    background-color: #FAFAFA;
    padding: 20px;
    margin-bottom: 30px;
}

.blockContent {
    width: 420px;
    margin-bottom: 20px;
}

.pageTitle {
    font-weight: 100;
    color: fontColor;
}

.optionTitle {
    margin-bottom: 10px;
    font-weight: bold;
    color: fontColor;
}
