/* import your colors... */
@value colors: '../../globals/colors.css';
@value sidebarBgColor, fontColor from colors;

.sidebar {
    background-color: sidebarBgColor;
    height: calc(100vh - 183px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebarRight {
    right: 0;
}

.title {
    padding-left: 38px;
    padding-right: 38px;
    margin: 0;
    height: 76px;
    line-height: 76px;
    font-weight: normal;
    font-size: 20px;
    background-color: fontColor;
}

.content {
    padding: 20px 40px;
}
