/* import your colors... */
@value colors: '../../globals/colors.css';
@value white, fontColor, primary, primaryHover, gray, grayHover from colors;

.base {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 18px;
    color: fontColor;
    border-color: gray;
    margin-right: 5px;
    min-width: 50px;

    &:hover {
        background-color: grayHover;
    }

    &:focus {
        outline: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.primary {
    color: white;
    background-color: primary;
    border-color: primary;

    &:hover {
        background-color: primaryHover;
    }
}

.primaryOutline {
    color: primary;
    border-color: primary;
    background-color: transparent;

    &:hover {
        background-color: transparent;
        color: primaryHover;
        border-color: primaryHover;
    }
}

.sizeSmall {
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 12px;
}

.sizeLarge {
    padding: 15px;
    font-size: 14px;
    line-height: 1.3333333;
    min-width: 100px;
    border-radius: 25px;
}
