/* import your colors... */
@value colors: '../../globals/colors.css';
@value white, primary, primaryHover, gray, grayHover from colors;

.base {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #333;
  border-color: gray;

  &:hover {
    background-color: grayHover;
  }
}

.primary {
  color: white;
  background-color: primary;

  &:hover {
    background-color: primaryHover;
  }
}

.primaryOutline {
  color: primary;
  border-color: primary;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: primaryHover;
    border-color: primaryHover;
  }
}

.sizeSmall {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.sizeLarge {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
