/* import your colors... */
@value colors: '../../globals/colors.css';
@value fontColor from colors;

.base {
    color: fontColor;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}
