/* import your colors... */
@value colors: '../../globals/colors.css';
@value fontColor, secondaryNavBgColor from colors;

.topBar {
    padding: 15px;
    background-color: secondaryNavBgColor;
    overflow: hidden;
}

.title {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: fontColor;
    float: left;
}

.rightContent {
    float: right;
    margin-top: 1px;
}
