.templateWizard { /* stylelint-disable */

}

.buttonGroup button {
    margin-bottom: 12px;
}

.boxTemplate {
    position: relative;
    width: 350px;
    height: 450px;
    float: left;
    margin-right: 50px;
    border: 1px solid #f4f4f4;
    background-color: #ffffff;

    &:hover {
        cursor: pointer;
        top: -5px;
        box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.12);
    }
}

.boxRightSidebar {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    height: 286px;
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    margin-bottom: 30px;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.12);
    }
}

.boxRightSidebarSelected {
    border: 1px solid #00A5E5;
    box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.12);
}