/**
 * styles.css
 *
 * App container styles
 */

:root {
    font-family: 'Source Sans Pro';
    background-color: #F4F4F4;
    color: #4E4E4E;
}

.layout {

}

.mainMenu {
    width: 120px;
    border-right: 1px solid #F4F4F4;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    z-index: 1;
}

.subMenu {
    height: 102px;
    background-color: #1F2331;
}

.container {
    margin-left: 120px;
}

.content {

}
