@value gray: #E5E5E5;

@value borderColor: gray;
@value fontColor: #a5a5a5;

.base { /* stylelint-disable */
    width: 520px;
    display: block;
    background: #ffffff;
    min-height: 620px;
    border: 1px solid borderColor;
    box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.12);
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

.block {
    display: block;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: borderColor;
    border-radius: 50%;
    float: right;
}

.bordered {
    border-bottom: 1px solid borderColor;
    overflow: hidden;
    padding-bottom: 10px;
}

.title {
    line-height: 50px;
}

.half {
    width: 50%;
    display: block;
    min-height: 30px;
    box-sizing: border-box;
    float: left;
}

.verticalLine {
    border-left: 1px solid borderColor;
    min-height: 520px;
    padding-left: 9px;
}

.verticalPaddingRight {
    padding-right: 10px;
}

.content {
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.description div {
    display: block;
    font-size: .7em;
    line-height: 1;
    text-transform: uppercase;
    color: fontColor;
}

.inline {
    display: block;
    overflow: hidden;
}

.inline div {
    float: right;
}

.inlineFaded {
    composes: inline;
    color: fontColor;
    font-size: .9em;
}

.inlineFaded div {
    font-size: .7em;
    line-height: 2.2;
    font-weight: bold;
}

.section {
    composes: half;
}

.fullWidth .verticalPaddingRight {
    padding-right: 0px;
}

.fullWidth .verticalLine {
    border-left: none;
    padding-left: 0px;
}

.fullWidth .section {
    width: 100%;
    float: none;
}